<div>
    <h2>
        Inbox
    </h2>
    <h3>
        {{messages.length}} Unread Messages
    </h3>
    <div id=MessageList>
       <table>
           <thead>
               <th>
                   Sender
               </th>
           </thead>
       
        <tr ng-repeat="message in messages">
           
            <td>
                {{message.sender}}
            </td>
            <td>
               <a ui-sref="message({id:message.id})">
                {{message.subject}}
                </a>
            </td>
        </tr>
        </table>
    </div>
</div>